<div class="sg-calc__pageindicator">
    <div class="sg-pageindicator__items">
        <span class="sg-pageindicator__item">1</span>
        <span class="sg-pageindicator__item">2</span>
        <span class="sg-pageindicator__item">3</span>
        <span class="sg-pageindicator__item">4</span>
        <span class="sg-pageindicator__item">5</span>
        <div class="sg-pageindicator__arrow"></div>
        <div class="sg-pageindicator__doublearrow"></div>
    </div>
</div>