<div class="sg-calc-selectbox">
    <!-- <input type="checkbox" class="sg-selectbox__content" placeholder="채널"> -->
<div class="sg-selectbox__content">
    <span class="sg-selectbox__placeholder">채널</span>
</div>
    <span class="sg-selectbox__arrowbtn"></span>

    <div class="sg-selectbox__items">
        <div class="sg-selectbox__item">모든채널</div>
        <div class="sg-selectbox__item">11st</div>
        <div class="sg-selectbox__item">CS</div>
        <div class="sg-selectbox__item">GMarket</div>
        <div class="sg-selectbox__item">기사</div>
        <div class="sg-selectbox__item">도급준비물</div>
        <div class="sg-selectbox__item">마케팅</div>
        <div class="sg-selectbox__item">물류</div>
        <div class="sg-selectbox__item">배송</div>
        <div class="sg-selectbox__item">별도거래</div>
    </div>
</div>

