<table class="sg-calc-table">
<colgroup>
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
    <col scope="row">
</colgroup>
<%include sg-calc-tablehead.ejs%>
<%include sg-calc-tablebody.ejs%>
<%include sg-calc-tablebody.ejs%>
<%include sg-calc-tablebody.ejs%>
<%include sg-calc-tablebody.ejs%>
<%include sg-calc-tablebody.ejs%>
<%include sg-calc-tablebody.ejs%>
<%include sg-calc-tablebody.ejs%>


</table>