<header class="sg-pages__header">
    <h1 class="sg-pages__title">거래내역</h1>
    <%include ../components/sg-calc-filledbtn.ejs%>

</header>
<div class="sg-pages__boxwrap">
    <%include ../components/sg-calc-selectbox.ejs%>
    <%include ../components/sg-calc-searchingbox.ejs%>
    <%include ../components/sg-calc-searchingbox.ejs%>
</div>
<%include ../components/sg-calc-table.ejs%>
<%include ../components/sg-calc-page-indicator.ejs%>
