<nav id="sg-calc__leftnavigation">
    <div class="sg-nav__logo">
        <img class="sg-nav__logoimg" src="pages/hs/assets/images/img-header-logo-pc-black-48-48.png">
    </div>
    <ul class="sg-nav__items">
        <li class="sg-nav__item"><i class="sg-nav__itemicon"></i><span class="sg-nav__itemcontent">거래내역</span></li>
        <li class="sg-nav__item"><i class="sg-nav__itemicon"></i><span class="sg-nav__itemcontent">매입내역</span></li>
        <li class="sg-nav__item"><i class="sg-nav__itemicon"></i><span class="sg-nav__itemcontent">매출내역</span></li>
        <li class="sg-nav__item"><i class="sg-nav__itemicon"></i><span class="sg-nav__itemcontent">수금/지급</span></li>
        <li class="sg-nav__item"><i class="sg-nav__itemicon"></i><span class="sg-nav__itemcontent">수금/지급 그룹</span></li>
        <li class="sg-nav__item"><i class="sg-nav__itemicon"></i><span class="sg-nav__itemcontent">정산내역</span></li>
        <li class="sg-nav__item"><i class="sg-nav__itemicon"></i><span class="sg-nav__itemcontent">거래처</span></li>
        <li class="sg-nav__item"><i class="sg-nav__itemicon"></i><span class="sg-nav__itemcontent">세금계산서</span></li>
    </ul>
    </div>
</nav>