<header id="sg-calc__header">
<button id="sg-header__navbtn">
    <div class="sg-header__hamburgerbtn"></div>
    <div class="sg-header__hamburgerbtn"></div>
    <div class="sg-header__hamburgerbtn"></div>
</button>
<button id="sg-header__logout">로그아웃</button>
</header>