<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/pages/hs/assets/images/favicon-32x32.png">
    <base href="/">
    <title>HS</title>
    <link rel="stylesheet" href="/pages/hs/assets/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<%include ../../client/pages/hs/views/layouts/sg-calc-leftnavigation.ejs%>
<%include ../../client/pages/hs/views/layouts/sg-calc-contents.ejs%>






</body>
</html>