<% var headerContent = 'header content text test'; %>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="/pages/jh/assets/images/favicon-32x32.png">
    <base href="/">
    <title>JH</title>
    <link rel="stylesheet" href="/pages/jh/assets/stylesheets/main.css">
</head>

<body>
JH
<% include ../../client/pages/jh/views/layouts/header.ejs %>
</body>
</html>