.sg-calc-selectbox {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 36px;
    cursor: pointer;
    .sg-selectbox__content {
        border: solid 1px #b0b8c8;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        font-size: 14px;
        padding-left: 8px;
        cursor: pointer;
        .sg-selectbox__placeholder{
            color: #b0b8c8;
            font-size: 14px;
            font-family: NanumSquareB;
            line-height: 36px;
        }
    }
    .sg-selectbox__arrowbtn {
        position: absolute;
        right: 6px;
        top: 15px;
        border-top: 5px solid black;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    .sg-selectbox__items{
        display: none;
        width: 120px;
        max-height: 150px;
        background-color: white;
        position: absolute;
        overflow-y: auto;
        border: 1px solid #b0b8c8;
        .sg-selectbox__item{
            position: relative;
            padding-left: 8px;
            width: 100%;
            height: 28px;
            line-height: 28px;
            font-size: 12px;
            color: #222;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
        }
    }
}
.sg-calc-selectbox:hover {
    .sg-selectbox__items{
        display: block;
    }
}